body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/ducks.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Set the height of the body to 100% */


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #D1E7E0;
  height: 20%;
  padding-right: 1%;
  z-index: 2; /* Added */
}


/* Rest of your existing CSS styles */
ul {
  list-style: none; 
  padding: 0; 
  margin: 0;
}

ul li {
  display: inline;
  margin-right: 10px;
}

a {
  color: #FFA500;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
  text-decoration: underline;
}

.school-logo {
  padding: 13%;
  padding-top: 18%;
  width: 50%; /* you can use % */
  height: auto;
  margin-bottom: 10%;
}

.school-name {
  color: #FFA500;
  font-size: 30px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Added */
  max-width: 100%;
}

.logo-grid {
  display: inline-block;
  flex: 1;
  max-width: 20%;
}

.link-grid {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Added */
  padding-top: 5%;
 
}

.link-grid > div {
  flex: 1 0 200px;
  min-width: 0;
  padding: 5px;
}